
body{
    font-family: "Roboto", serif;
    margin: 15;
    background: url('background.jpg') rgba(64, 70, 103, 0.626);
    background-blend-mode: multiply;
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.title{
    color:rgb(247, 247, 247);
    font-size: 50px;
    margin-left: 43%;
}

.search1{
    background-color: #4CAF50; /* Green */
    border: none;
    color: rgb(255, 255, 255);
    padding: 15px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 24%;
    margin-top: 10%;
}

.search2{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.search3{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.search4{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.search5{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.search1:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.search2:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.search3:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.search4:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.search5:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.backbut{
    background-color: #d86462;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.backbut{
    background-color: rgba(26, 25, 25, 0.866); 
    color: rgb(255, 255, 255); 
    border: 2px solid #000000;
}

.backbut:hover{
    background-color: #d86462;
    color: rgb(0, 0, 0);
}
