<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>distance page</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab:100" rel="stylesheet">

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" crossorigin="anonymous">
    
        <link rel="stylesheet" href="{{ url_for('static', filename='css/distance.css') }}">

        <script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    </head>

    
    <body>
        <button id = "backbut" class="backbut" onclick="backop();">Back</button>
        <script>
            function backop() {
                window.location.href="options";
            }
        </script>
        <header>
            <h1 class="title">DISTANCE</h1>
            <hr>
            <br>
            <h2 class="title1">Distance between {{user_city}} to {{city_name}}:</h2>
        </header>
        <div class="driving_info">
            <h3>Nonstop drive: {{distance_m}} or {{distance_km}}</h3>
            <h3>Driving time: {{driving_t}}</h3>
        </div>
        
        <div class="reference">
            <hr>
            <h3 class="link">Data from <a class="sourch_link" href="{{url}}" target="_blank">trippy.com</a></h3>
        </div>
    </body>
</html>
