<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>option page</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab:100" rel="stylesheet">

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" crossorigin="anonymous">
    
        <link rel="stylesheet" href="{{ url_for('static', filename='css/option.css') }}">

        <!-- <link rel="stylesheet" href="option.css"> -->

        <script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    </head>

    
    <body>
        <button id = "backbut" class="backbut" onclick="back();">Back</button>
        <script>
            function back() {
                window.location.href="main";
            }
        </script>

        <header>
            <h1 class="title">OPTIONS</h1>
            <hr>
            <br>
        </header>
        <button id = "search_button1" class="search1" onclick="weather();">Weather</button>
        <button id = "search_button2" class="search2" onclick="distance();">Distance</button>
        <button id = "search_button3" class="search3" onclick="scenicspots();">ScenicSpots</button>
        <button id = "search_button4" class="search4" onclick="restaurant();">Restaurant</button>
        <button id = "search_button5" class="search5" onclick="picture();">Picture</button>
        <script>
            function picture() {
                window.location.href="picture";
            }
        </script>
        <script>
            function weather() {
                window.location.href="weather";
            }
        </script>
         <script>
            function distance() {
                window.location.href="distance";
            }
        </script>
        <script>
            function scenicspots() {
                window.location.href="scenicspots";
            }
        </script>
        <script>
            function restaurant() {
                window.location.href="restaurant";
            }
        </script>

    </body>
</html>