<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Option page</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab:100" rel="stylesheet">

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" crossorigin="anonymous">
    
        <!-- <link rel="stylesheet" href="style.css"> -->
        <script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    </head>

    
    <body>
        <button id = "backbut" class="backbut" onclick="back();">Back</button>
        <script>
            function back() {
                window.location.href="main";
            }
        </script>

        <header>
            <h1>Option page</h1>
            <hr>
            <br>
        </header>
        <button id = "search button" class="search" onclick="picture();">Weather</button>
        <button id = "search button" class="search" onclick="picture();">Driving Time</button>
        <button id = "search button" class="search" onclick="picture();">Viewspots</button>
        <button id = "search button" class="search" onclick="picture();">Restaurant</button>
        <button id = "search button" class="search" onclick="picture();">Picture</button>

        <script>
            function picture() {
                window.location.href="picture";
            }
        </script>
    </body>
</html>